@use "./variables" as *;

@mixin heading-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin default-btn {
	border-radius: 50px;
	outline: none;
	border: 2px solid transparent;
	&:is(:hover, :focus, :active) {
		cursor: pointer;
		outline: 5px dashed grey;
	}
}

@mixin cta-btn {
	padding: 1em 2em;
	background-color: $Pink;
	border-radius: 50px;
	border: 2px solid transparent;
	color: $Very_Pale_Cyan;
	font-weight: 700;
	display: inline-block;
	margin: 1em 0;
	transition: 0.5s background-color ease-in;

	&:is(:hover, :focus, :active) {
		cursor: pointer;
		outline: 5px dashed grey;
		background-color: #b93988c7;
	}
}
